@import '../../../assets/css/styles.scss';
@import '../../app.component.scss';


.trigger-button{
    font-size: 2.5rem; /* Nagyobb betűméret */
    color: white !important;
    // background-color: #007bff; /* A gomb hátterének színe, módosíthatod */
    background-color: transparent;
    padding: 0.5rem 1rem; /* Gomb belső térköze (padding) */
    border: none; /* Eltávolítja a keretet */
    border-radius: 0.5rem; /* Lekerekített sarkok */
    cursor: pointer; /* Mutató ikon, ha ráviszed az egeret */
    transition: background-color 0.3s ease; /* Háttérszín animáció a hover hatásra */
}


/* A gomb hover állapotának stílusa */
.trigger-button:hover {
    background-color: #3b3d3f; /* Sötétebb háttérszín a hover hatásra */
  }
  
  /* Reszponzív media query a kisebb képernyőméretekhez */
  @media (max-width: 768px) {
    .trigger-button {
      font-size: 2rem; /* Kisebb betűméret a kisebb képernyőkön */
    }
  }